*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
  all: unset;
  display: revert;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

::selection {
  background-color: darkgoldenrod;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: calc(100vw / 37.5);
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  color: #d0d2d8;
  background-color: #151f3d;
}

@media (min-width: 990px) {
  html {
    font-size: 100%;
  }
}
